* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #bdb2bd
  }
  
  header {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: #ddd3b2;
    background-color: #b8bdb2;
    padding: 20px;
  }
  nav {
    float: right;
    display: block;
    padding-top: 20px;
    padding-right: 30px;
  }
  
  header h1 {
    display: inline-block;
    font-size: 48px;
  }
  
  .header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
  }
  
  a {
    color: #ddd3b2;
    text-decoration: none;
    margin-left: 25px;
  }
  
  main {
    display: inline-block;
    background-color: #bdb2bd;
  }
 
  .about-me {
      display: flex;
      align-items: center;
  }
  
  .about-me img {
    max-height: 200px;
    padding: 10px;
  }
  
  .portrait {
    float: left;
    margin-right: 25px;
  }
  
  
  p {
    font-size: 16px;
  }
  
  .work {
      display: flex;
      align-items: center;
  }
  
  .contact-me {
      display: flex;
      align-items: center;
  }
  
  .name {
      /* float: left; */
      font-size: 40px;
      background-color: #bdb2bd;
      width: 15%;
      padding: 20px;
  }
  
  #big {
    width: 1000px;
    align-content: center;
  }

  #display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .content {
    margin-block: 20px;
    margin-inline: 20px;
    padding: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    background-color: grey;
    color: #ffffff;
    width: 100%;
   
  }
  .card {
    padding: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 20px;
    display: flex;
    justify-content: center;
  }
  
  .card img {
    width: 450px;
    height: auto;
  }

  #bottom {
   word-spacing: 40px;
   display: flex;
   justify-content: space-around;
  }
  .content a {
    font-size: 40px;
  }

  footer {
    padding-top: 30px;
  }
  
  @media screen and (max-width: 992px) {
    .content {
      width: 50%;
    }
    #big {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .content {
      width: 100%;
    }

    #big {
      width: 100%;
    }
  }
 
